/* Cores base */
:root {
    --primary-color: #58af9b; /* Azul escuro */
    --secondary-color: #ffffff; /* Branco */
    --text-color: rgb(65, 65, 65); /* Preto */
    --card-background: #f4f4f4; /* Cor de fundo clara para contraste */
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Personalizando a barra de rolagem */
body::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
    border-radius: 10px;
    padding: 2px; /* Adiciona espaço ao redor do thumb, criando a margem */
}

body::-webkit-scrollbar-thumb {
    background-color: #58af9b; /* Cor da barra de rolagem */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Cor da "margem" ao redor do thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #3e8b7d; /* Cor da barra ao passar o mouse */
    border: 3px solid #58af9b; /* Bordas ao redor da barra, mantendo a margem */
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.status-green {
    background-color: green;
}

.status-yellow {
    background-color: yellow;
}

.status-red {
    background-color: red;
}


/* Ajustar a altura do container principal para ocupar a tela inteira */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container ocupe pelo menos 100% da altura da tela */
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Adiciona a rolagem se o conteúdo for maior que a tela */
}

/* Garantir que os gráficos e listas não excedam a largura disponível */
.charts {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.chart-container, .employee-list {
    max-width: calc(100% - 40px); /* Ajustar a largura máxima */
}

/* Fontes */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--card-background);
    color: var(--text-color);

}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(65, 65, 65);
}

.logo img {
    height: 50px;
}

.nav-links a {
    text-decoration: none; /* Remove a sublinha dos links */
    color: inherit; /* Mantém a cor original do texto */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.nav-links a h2 {
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--text-color);
}

/* Efeito de cor ao passar o mouse */
.nav-links a h2:hover {
    color: #58af9b; /* Cor de destaque ao passar o mouse */
}

.nav-links {
    display: flex;
    margin-right: 3%;
    gap: 2%;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-links h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem dentro do círculo */
}

main {
    padding: 20px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.chart-container {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

h2 {
    color: var(--primary-color);
}

.employee-list {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.employee-list h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #eaeaea;
}


footer {
    background-color: var(--primary-color);
    padding: 30px;
    gap: 90px;
    font-size: 15px;
    color: white;
    text-align: center;
}



.footer-social .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social .social-links a img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1); /* Ícones em branco */
    transition: transform 0.3s;
}

.footer-social .social-links a:hover img {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

.footer-legal a {
    color: white;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.webcam-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    border: 1px solid #6a6b6b;
    margin-bottom: 24px;
}

#canvas {
    width: 100%;
    height: 100%;
}

#start-button {
    background-color: #58af9b; /* Cor de fundo inicial */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: 2px solid #58af9b; /* Bordas iguais ao fundo */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
    box-sizing: border-box;
}

#start-button:hover {
    background-color: transparent; /* Faz o fundo ficar "vazado" */
    color: #58af9b; /* Cor do texto igual à da borda */
}


#progress-container {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 20px;
    background-color: #58af9b;
    width: 0%;
    transition: width 0.5s ease;
}

.progress-text {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.progress-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}



