<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Administrador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-dashboard.css') }}">
    <!-- <link rel="stylesheet" href="admin-dashboard.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='ícone/verde_sem_subtitulo.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='ícone/verde_sem_subtitulo.png') }}" alt="Logo"></a>
                <!-- <a href="./index.html"><img src="./ícone/verde_sem_subtitulo.png" alt="Logo"></a>  -->
            </div>
            <div class="nav-links">
                <a href="{{ url_for('circuito') }}"><h2>Informações do Ambiente</h2></a>
                <a href="{{ url_for('visao_computacional') }}"><h2>Análise de Postura</h2></a>
                <a href="{{ url_for('admin') }}"><h2>Visão Geral</h2></a>
                <a href="{{ url_for('perfil') }}"><h2>Perfil</h2></a>
            </div>
            <div class="user">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='ícone/pessoa.jpg') }}" alt="Logo"></a>
            </div>
        </header>
        <main>
            <section class="charts">
                <div class="chart-container">
                    <h2>Média de Batimento Cardíaco</h2>
                    <canvas id="heartRateChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Média de Pressão Arterial</h2>
                    <canvas id="bloodPressureChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Média de Temperatura Corporal</h2>
                    <canvas id="bodyTemperatureChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Média de Frequência de Pausas</h2>
                    <canvas id="breakFrequencyChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Horário de Entrada e Saída dos Funcionários</h2>
                    <canvas id="attendanceChart"></canvas>
                </div>                
            </section>
            <section class="employee-list">
                <h2>Lista de Funcionários</h2>
                <ul id="employeeList">
                </ul>
            </section>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-social">
                    <div class="social-links">
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png
                            " alt="Instagram">
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
                        </a>
                        <a href="https://www.linkedin.com" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
                        </a>
                    </div>
                </div>
                <div class="footer-legal">
                    <p><a href="#">Termos de Serviço</a> | <a href="#">Política de Privacidade</a></p>
                    
                </div>
                <div class="footer-info">
                    <p>Monitoramento inteligente de saúde para funcionários. © 2024 FocusFlow | Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>        
    </div>
    <script src="{{ url_for('static', filename='js/admin-dashboard.js') }}"></script>
    <!-- <script src="admin-dashboard.js"></script> -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>
