<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circuito.css') }}">
    <title>Monitoramento de Sensores</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='ícone/verde_sem_subtitulo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"> <!-- Link para o arquivo CSS separado -->
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='ícone/verde_sem_subtitulo.png') }}" alt="Logo"></a>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('circuito') }}"><h2>Informações do Ambiente</h2></a>
            <a href="{{ url_for('smartwatch') }}"><h2>Dados do Funcionário</h2></a>
            <a href="{{ url_for('visao_computacional') }}"><h2>Análise de Postura</h2></a>
            <a href="{{ url_for('admin') }}"><h2>Visão Geral</h2></a>
            <a href="{{ url_for('perfil') }}"><h2>Perfil</h2></a>
        </div>
        <div class="user">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='ícone/pessoa.jpg') }}" alt="Usuário"></a>
        </div>
    </header>
    <h1>Monitoramento de Ambiente</h1>

    <div class="sensor-data">
        <div class="sensor-box">
            <h2>Temperatura</h2>
            <p id="temperature">-- °C</p>
        </div>
        <div class="sensor-box">
            <h2>Umidade</h2>
            <p id="humidity">-- %</p>
        </div>
        <div class="sensor-box">
            <h2>Luminosidade</h2>
            <p id="ldr_value">--</p>
        </div>
    </div>

    <!-- Botão de download -->
    <div class="download-btn">
        <a href="/download" download>
            <button>
                Baixar Relatório CSV
            </button>
        </a>
    </div>

    <script>
        function fetchSensorData() {
            fetch('/api/get_dados')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperature ? `${data.temperature} °C` : '-- °C';
                    document.getElementById('humidity').textContent = data.humidity ? `${data.humidity} %` : '-- %';
                    document.getElementById('ldr_value').textContent = data.ldr_value ? data.ldr_value : '--';
                })
                .catch(error => console.error('Erro ao buscar dados:', error));
        }

        setInterval(fetchSensorData, 2000);
        fetchSensorData();
    </script>
</body>
</html>